<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss} [%thread] %.-1level %logger{36} - %msg%n%xEx{30}</pattern>
    </encoder>
  </appender>

  <appender name="sentry" class="io.sentry.logback.SentryAppender"/>

  <root level="DEBUG">
    <appender-ref ref="console"/>
    <appender-ref ref="sentry"/>
  </root>

</configuration>
